mixin step(title, desc, ico, tab, button)
    - var attr = 'step item ' + attributes.class;
    a(class=attr data-tab=tab next-tab=attributes.next btype=button)
        i(class='#{ico} icon')
        div(class='content')
            div(class='title') #{title}
            div(class='description') #{desc}

mixin style(href)
    link(rel='stylesheet' type='text/css' href=href)

mixin script(href)
    script(src=href)

mixin style(href)
    link(rel='stylesheet' type='text/css' href=href)

head
    block title
    +style('/semantic/dist/semantic.min.css')
    block styles
body
    script(src='https://code.jquery.com/jquery-3.1.1.min.js'
               integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8='
               crossorigin='anonymous')
    +script('/semantic/dist/semantic.min.js')
    block scripts
    div(class='ui basic segments')
        div(class='ui very padded basic segment')
            div(class='ui center aligned content')
                block header
        div(class='ui basic segment')    
            div(class='ui container')
                block steps
                block forms
        div(class='ui very padded basic segment')
            div(class='ui container')
                div#next(class='ui right floated button') Next
                div#submit(class='ui right floated button') Submit
                div#exit(class='ui right floated button') Exit